[submodule "ccd_pcb/parts/kicad-lib"]
	path = ccd_pcb/parts/kicad-lib
	url = https://github.com/cvra/kicad-lib
[submodule "ccd_pcb/parts/kicad-pmod"]
	path = ccd_pcb/parts/kicad-pmod
	url = https://github.com/leftshift/kicad-pmod
